{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Buo</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, reiciendis ipsum? Placeat voluptatum, ipsam exercitationem eos odio quo nemo repellat tempore culpa corrupti officia error quibusdam. Voluptatum laboriosam nisi facilis!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/buo.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}